<style>
	#p1{
		font-weight: 600;
		padding-top: 10px;
	}
	.inbox{
		padding: 50px;
		display: flex;
		flex-direction: column; 
		align-items: center; 
		justify-content: center; 
		text-align: center;
		width: 35em;
	}
	.center{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
</style>
<div class="d-flex">
	<div>
		@await Html.PartialAsync("_SideBarPartial")
	</div>
	<div class="profile-container  col-9">
		<header class="profile-header">
			<h1 class="text-header">Inbox</h1>
		</header>
		<div class="center">
			<div class="inbox">
				<img src="/images/profile/inbox.svg" />
				<p id="p1">You don't have any messages</p>
				<span id="p2">Here you will be able to see all the messages that we send you.Stay tuned...</span>
			</div>
		</div>
    </div>
</div>
