<div class="d-flex">
    <div>
        @await Html.PartialAsync("_SideBarPartial")
    </div>
    <div id="partialContainer" class="col-9">

    </div>

</div>



@* @section Scripts { *@
@*     <script> *@
@*         function loadPartial(url) { *@
@*             $("#partialContainer").load(url); *@
@*         } *@

@*         $(document).ready(function () { *@
@*             loadPartial('/Profile/MyAccount');  *@
@*         }); *@
@*     </script> *@
@* } *@
