.header {
    position: fixed;
    z-index: 2;
    top: 0;
}

.flash-sale {
    display: flex;
    justify-content: center;
    background: #e60400;
    height: 3em;
}
.search {
    background-color: #f68b1e;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

    .search:hover {
        background-color: #e07d1a;
    }

.form-control {
    border-radius: 8px;
}

.nav-link{
    font-weight: 500;
}

.hover-orange:hover
hover-orange:hover i,
.hover-orange:hover button {
    color: #f68b1e !important;
    cursor: pointer;
}

.jumia-logo{
    height: 3em;
}

.navbar-brand{
    justify-content: end;
}
.sell {
    background-color: #f1f1f2;
    height: 2em;
    display: flex;
    justify-content: center;
}
.sell-on-jumia {
    color: #f68b1e;
    font-size: .75rem;
   
    text-decoration: none;
    display: inline-block;
}
.nav {
    background-color: white;
    border: none;
}
.nav-button{
}
.icon-list {
    padding-left: .5em;
    text-decoration: none;
    color: #313133;
}
.fa-regular {
    color: #313133;
}
.icon-list-hover {
    padding: .8em;
    font-weight: 400;
    color: black;
}
.icon-list-hover:hover {
    font: bold;
    background-color: #f1f1f2;
    font-weight: 500;
}
.sign-in-div{
    text-align:center;
}
.sign-in-button {
    background-color: #f68b1e;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

    .sign-in-button:hover {
        background-color: #e07d1a;
    }
.list {
    padding-top: 1.5em;
    display: none;
    width: 12em;
    position: absolute;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 100%;
}
.list.show {
    display: block;
}
.nav-button {
    display: flex;
    align-items: center;
}

    .nav-button .nav {
        display: inline-block; 
        margin-left: 10px; 
    }
#searchResults {
    width: 35em;
    border: none;
}
#searchBrandResults {
    width: 35em;
    border: none;
}
.dropdown-item {
    color: black;
}
    .dropdown-item:hover {
        background-color: rgb(33 37 41 / 15%);
    }
    #searchResults a:focus,
    #searchResults a:active {
        color: white;
        background-color: #f68b1e;
        text-decoration: none;
        outline: none;
    }
#search-key:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #f68b1e;
    caret-color: #f68b1e;
}
    
    /*search*/
    @media (max-width: 768px) {
        .search-container {
        max-width: 100%;
    }

        .search-container .form-control {
            font-size: 0.9rem;
            padding: 0.4rem 0.6rem;
        }

        .search-container .search {
            padding: 0.4rem 0.6rem;
            font-size: 0.9rem;
        }

    .custom-search-box {
        width: 90%; 
        margin-left: auto;
        margin-right: auto;
    }
    .list {
        width: 100%; 
        position: relative;
    }

    .nav-button .nav {
        display: inline-block; 
    }

    .nav {
        display: inline-block !important;
    }
}

