@model UserCodeViewModel
@{
    Layout = "_LoginLayout";
    ViewBag.Title = "Verify";
}

<img src="~/images/star.png" alt="Jumia" width="64" height="64" class="mt-5" />
<div class="px-3 py-2">
    <div class="all-container d-flex  justify-content-center align-items-center flex-column">
        <h2 class="welcome">Verify your email address</h2>
        <p>
            We have sent a verification code to @ViewBag.UserEmail.
        </p>
        <div class="d-flex justify-content-center align-items-center text-center flex-column w-100">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form method="post"  asp-action="Verify" class=" d-flex justify-content-center align-items-center flex-column w-100">
                <input asp-for="Code" class="form-control my-input mt-3 mb-4 p-3 bg-transparent" placeholder="Code*" />
                <span asp-validation-for="Code" class="text-danger"></span>
                <button type="submit" class="my-btn continue-btn border border-0 w-100 mt-2 mb-2 rounded fw-bold">Submit</button>
            </form>
            <div id="resendSection">

                <p id="resendMessage">
                    Didn't receive the verification code? It could take a bit of time,
                    request a new one in <span id="countdown" class="my-color">60</span><span class="my-color"> seconds</span>
                </p>

                <form method="post" action="/Account/ResendCode" style="display:none;" id="resendForm" class="w-100">
                    <input type="hidden" name="email" value="@ViewBag.UserEmail" />
                    <button type="submit" class="request-new my-color w-100 mb-5 mt-2 border border-0">Request a New Code</button>
                </form>

            </div>
        </div>
        <p class="mt-3">For further support, you may visit the Help Center or contact our customer service team.</p>
    </div>
</div>

<img src="~/images/logo.png" alt="Jumia" class="" />
<script>
    let secondsLeft = 60;
    const countdownSpan = document.getElementById("countdown");

    const resendMessage = document.getElementById("resendMessage");
    const resendForm = document.getElementById("resendForm");

    const countdown = setInterval(() => {
        secondsLeft--;
        countdownSpan.innerText = secondsLeft;

        if (secondsLeft <= 0) {
            clearInterval(countdown);
            resendMessage.style.display = "none";
            resendForm.style.display = "block";
        }
    }, 1000);
</script>








