<link href="~/css/footer.css" rel="stylesheet" />
<div class="footer-top col-12 d-flex">
	<div class="col-2 img-container">
		<img src="images/home/light-logo.png" />
	</div>
	<div class="col-3">
		<span class="footer-title">NEW TO JUMIA?</span>
		<br />
		<span class="subscribe-text">Subscribe to our newsletter to get updates on our latest offers!</span>
		<div class="d-flex mt-2">
			<input type="email" placeholder="Enter E-mail Address" />
			<button class="subscribe-btn">Subscribe</button>
		</div>
		<div class="d-flex mt-2">
			<input type="checkbox" /> <label style="margin-left: .2em;"> I agree to Jumia’s Privacy and Cookie Policy.</label>
		</div>
	</div>
	<div class="col-3 jumia-star-container">
		<div class="d-flex">
			<img src="~/images/home/jumia-star.png" class="jumia-star" />
			<div class="text-light ms-2">
				<span class="footer-title">DOWNLOAD JUMIA FREE APP</span>
				<br />
				<span class="subscribe-text">Get access to exclusive offers!</span>
			</div>
		</div>
		<div class="d-flex mt-2">
			<div class="app-store">
				<i class="fa-brands fa-apple"></i><span>&nbsp; App Store</span>
			</div>
			<div class="google-play ms-4">
				<i class="fa-brands fa-google-play"></i><span>&nbsp; Google Play</span>
			</div>
		</div>
	</div>
</div>

<div class="footer-bottom col-12 p-4">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-3 col-6">
				<span class="header-text footer-title">Need Help?<span />
					<ul class="list-unstyled">
						<li<a href="#" class="subscribe-text">Chat with us</a></li>
						<li><a href="#" class="subscribe-text">Help Center</a></li>
						<li><a href="#" class="subscribe-text">Contact us</a></li>
					</ul>

					<span class="header-text footer-title">Useful Links:</span>
					<ul class="list-unstyled">
						<li><a href="#" class="subscribe-text">How to shop on Jumia?</a></li>
						<li><a href="#" class="subscribe-text">How to pay on Jumia?</a></li>
						<li><a href="#" class="subscribe-text"> Delivery timelines</a></li>
						<li><a href="#" class="subscribe-text">Dispute Resolution Policy</a></li>
						<li><a href="#" class="subscribe-text"> Return Policy</a></li>
						<li><a href="#" class="subscribe-text">Refund Policy</a></li>
						<li><a href="#" class="subscribe-text">Black Friday</a></li>
					</ul>
			</div>



			<div class="col-md-3 col-6">
				<span class="header-text footer-title">ABOUT JUMIA EGYPT</span>
				<ul class="list-unstyled">
					<li><a href="#" class="subscribe-text">Jumia Careers</a></li>
					<li><a href="#" class="subscribe-text">Terms and Conditions</a></li>
					<li><a href="#" class="subscribe-text">Stores Credit Terms & Conditions</a></li>
					<li><a href="#" class="subscribe-text">Privacy Policy</a></li>
					<li><a href="#" class="subscribe-text">Cookies Policy</a></li>
					<li><a href="#" class="subscribe-text">Free Shipping</a></li>
					<li><a href="#" class="subscribe-text">Flash Sales</a></li>

				</ul>
			</div>

			<div class="col-md-3 col-6">
				<span class="header-text footer-title">MAKE MONEY WITH JUMIA</span>
				<ul class="list-unstyled">
					<li><a href="#" class="subscribe-text">Sell on Jumia</a></li>
					<li><a href="#" class="subscribe-text">Vendor Hub</a></li>
					<li><a href="#" class="subscribe-text">Become a Sales Consultant (J-Force )</a></li>
				</ul>
			</div>

			<div class="col-md-3 col-6">
				<span class="header-text footer-title d-flex">JUMIA INTERNATIONAL</span>
				<div class="d-flex">
					<div>
						<ul class="list-unstyled">
							<li><a href="#" class="subscribe-text">Algeria</a></li>
							<li><a href="#" class="subscribe-text">Senegal</a></li>
							<li><a href="#" class="subscribe-text">Ghana</a></li>
						</ul>
					</div>


					<div>
						<ul class="list-unstyled">
							<li><a href="#" class="subscribe-text">Kenya</a></li>
							<li><a href="#" class="subscribe-text">Morocco</a></li>
							<li><a href="#" class="subscribe-text">Nigeria</a></li>
						</ul>

					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>
