<link href="~/css/sideBar.css" rel="stylesheet" />
<div class="side-bar">
	<div class="side-line">
		<i class="side-bar-icon fa-regular fa-user"></i>
		<a href="" class="side-bar-link">My Jumia Account</a>
	</div>
	<div class="side-line order-sidebar">
		<i class="side-bar-icon fa-solid fa-box"></i>
		<a asp-action="UserOrders" asp-controller="Profile" class="side-bar-link order-sidebar">Order</a>
	</div>
	<div class="side-line">
		<i class="side-bar-icon side-bar-icon fa-regular fa-envelope"></i>
		<a href="" class="side-bar-link">InBox</a>
	</div>
	<div class="side-line">
		<i class="side-bar-icon fa-regular fa-message"></i>
		<a href="" class="side-bar-link">pending Reviews</a>
	</div>
	<div class="side-line">
		<i class="side-bar-icon fa-solid fa-ticket"></i>
		<a href="" class="side-bar-link">vouchers</a>
	</div>
	<div class="side-line wishlist-sidebar">
		<i class="side-bar-icon fa-regular fa-heart"></i>
		<a asp-action="UserWishlist" asp-controller="Profile" class="side-bar-link wishlist-sidebar">Wishlist</a>
	</div>
	<div class="side-line">

		<a href="" class="side-bar-link">Followed Seller</a>
	</div>
	<div class="side-line">
		<i class="side-bar-icon fa-solid fa-clock-rotate-left"></i>
		<a href="" class="side-bar-link">Recently Viewed</a>
	</div>
	<br />
	<div class="side-line">
		<a href="" class="side-bar-link">Account Mangement</a>
	</div>
	<div class="side-line">
		<a href="" class="side-bar-link">Address Book</a>
	</div><div class="side-line">
		<a href="" class="side-bar-link">Newsletter Preferences</a>
	</div>
	<div class="side-line">
		<a href="" class="side-bar-link">close account</a>
	</div>
	<div class="side">
		<button class="side-bar-button">Logout</button>
	</div>
</div>